* {
    margin: 0;
    padding: 0;
}

/* Utilities Start */
#arrow {
    color: green;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    text-align: center;

}
.order{
    width: 150px;
    height: 150px;
    border-radius:50px ;
    background-color: green;
}


/* Utilities End */

.header {
    background-color: black;
    color: white;
}