@font-face {
    font-family: salt;
    src: url(https://staging.tossdown.site/assets/theme_one/fonts/aperculight/aperculight.otf);
}

@font-face {
    font-family: butler;
    src: url(https://staging.tossdown.site/assets/theme_one/fonts/butlerbold/butlerbold.otf);
}

* {
    margin: 0;
    padding: 0;
}

.list,
.logo {
    border: 1px solid red;
}

.list li {
    display: inline-block;
    font-family: salt;
    font-size: 16px;
}

.logo, .list, 
.list li {
    display: inline-block;
}



.logo>img {
    width: 140px;
    height: 58.09px;
}

/* Utilities Start */
#arrow {
    color: green;
    text-align: center;
    font-size: 12px;

}

.arrow {
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    border: 1px solid red;
}

.order {
    width: 156px;
    height: 50px;
    border-radius: 38px;
    text-align: center;
    background-color: #00A450;
    color: #ffffff;
    font-family: salt;
}


/* Utilities End */

.header {
    background-color: black;
    color: white;
}

/* Main working start */

.main-img>img {
    width: 100%;
    margin: 0;
}

/* main div feel start */
.feel {
    background-color: #0f0f0f;
    margin: 0;

}

.writeup {
    color: #ffffff;
    text-align: center;
    font-family: butler;
    display: inline-block;
    position: absolute;
    bottom: -250PX;
    left: 10px;
    z-index: 1;
}

.writeup>h2 {
    font-size: 32px;
    line-height: 50px;
    display: inline-block;
}

.writeup>p {display: inline-block;
    padding: 10px 200px 30px 200px;
    font-size: 16px;
    font-weight: 400;
    font-family: salt;
    margin-top: 20px;
}

/* .cow {
    display: inline-block;
    margin-left: 1000px;
    border: 2px solid red;
    position: relative;
    bottom: 60px;
} */


.bird {
    display: inline-block;
    padding-top: 50px;
    padding-left: 30px;
}
.btnfeel{
    border: 2px solid red;
/* padding-top: 200px;
padding-left: 350px; */
    display: inline-block;
}
btnfeel>.order{
    margin-top: 150px;
}
/* main div feel end */

/* Our menu start */
.menu{
    background-color: black;
    color: #ffffff;
    font-size: 32px;
    font-family: butler;
}
.ourmen{
    padding-top: 80px;
    border: 2px solid red;
    text-align: center;
}
.hitea{
    display: inline-block;
    border: 2px solid red;
    vertical-align: top;

}
.hiteaimg{
   
    display: inline-block;
    margin-left: 100px;
    border: 2px solid red;
}

.hiteaimg>img{
    width: 450px;
    height: 450px;
}
.hiteacon{margin-top: 20px;
border:2px solid green;
width: 920px;
margin: auto;}
/* OUr menu end */
/* Main working end */